@model IEnumerable<Notes.App.Models.Note>

@{
    ViewData["Title"] = "Index";
}

<h1>My Notes</h1>

<div>
    <!--<a asp-action="Create">Create New</a>-->
    <form asp-controller="Notes" asp-action="Create" asp-method="get" style="display: inline;">
        <input type="submit" value="New Note" />
    </form>
    <form asp-controller="Notes" asp-action="Load" asp-method="post" style="display: inline;">
        <input type="submit" value="Load Data" />
    </form>
    <form asp-controller="Notes" asp-action="Save" asp-method="post" style="display: inline;">
        <input type="submit" value="Save Data" />
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
                <a asp-action="Index" asp-route-sortOrder="@(ViewData["CurrentSort"].ToString() == "DateCreated" ? "DateCreatedDesc" : "DateCreated")">
                    @if (ViewData["CurrentSort"].ToString() == "DateCreated")
                    {
                        <i class="fa-solid fa-arrow-down-wide-short"></i>
                    }
                    else if (ViewData["CurrentSort"].ToString() == "DateCreatedDesc")
                    {
                        <i class="fa-solid fa-arrow-up-wide-short"></i>
                    }
                    else
                    {
                        <i class="fas fa-sort"></i>
                    }
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
