@model IEnumerable<Notes.App.Models.Note>

@{
    ViewData["Title"] = "Index";
    string searchString = ViewData["SearchString"] as string;
    string selectedDirectory = ViewData["SelectedDirectory"] as string;
}

<h1 class="notes-title">Notes</h1>

<div>
    <p class="notes-options-from">
        <a asp-action="Create" class="btn btn-primary">Create New Note</a>
    </p>
</div>
<div>
    <form asp-controller="Notes" asp-action="Index" method="get">
        <input type="text" name="searchString" value="@ViewBag.SearchString" />
        <input type="submit" value="Filter" />
    </form>
</div>

<form asp-controller="Notes" asp-action="DeleteSelected" method="post" onsubmit="return confirm('Are you sure you want to delete the selected items?');">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    <i class="fa-solid fa-square-check"></i>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Content)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreationDate)
                    <a asp-action="Index" asp-route-sortOrder="@(ViewData["CurrentSort"].ToString() == "DateCreated" ? "DateCreatedDesc" : "DateCreated")">
                        @if (ViewData["CurrentSort"].ToString() == "DateCreated")
                        {
                            <i class="fa-solid fa-arrow-down-wide-short"></i>
                        }
                        else if (ViewData["CurrentSort"].ToString() == "DateCreatedDesc")
                        {
                            <i class="fa-solid fa-arrow-up-wide-short"></i>
                        }
                        else
                        {
                            <i class="fas fa-sort"></i>
                        }
                    </a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" asp-for="@item.IsSelected" name="selectedIds" value="@item.Id" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td class="details-content">@Html.DisplayFor(modelItem => item.Content)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreationDate)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary secondary-button">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary secondary-button">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary secondary-button">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <input type="submit" value="Delete Selected" class="btn btn-danger secondary-button" />
</form>
